{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <section class="login-section">
        <form class="form-signin" method="post">


            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <!-- Header -->
            <div class="text-center mb-4">
                <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                <h1 class="h2 font-weight-normal">Bienvenue ! <br> Veuillez vous connecter</h1>
            </div>

            <!-- Fields -->
            <div class="mb-3">
                <label for="inputEmail" class="sr-only"><span class="text-muted">*</span> Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
            </div>

            <div class="mb-3">
                <label for="inputPassword"><span class="text-muted">*</span> Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">

            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
            #}

            <!-- Error message -->
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <hr class="mb-4">
            <!-- Footer -->
            <div class="text-center">
                <button class="btn btn-lg btn-primary btn-block" type="submit"> Se connecter </button>
                <p class="mt-5 mb-3 text-muted">© 2020-2021</p>
            </div>
        </form>
    </section>
{% endblock %}
