{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <section class="login-section">

        <div class="form-signin">
            <div class="text-center mb-4">
                <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                <h1 class="h2 font-weight-normal">Bienvenue ! <br> Veuillez vous connecter</h1>
            </div>

            <div>
                {{ form_start(login_form) }}
                <div class="field-wrap mb-3">
                    {{ form_row(login_form.email, {'attr': { 'class': 'form-control' } }) }}
                </div>

                <div class="field-wrap mb-3">
                    {{ form_row(login_form.password, {'attr': { 'class': 'form-control' } }) }}
                </div>
                {{ form_rest(login_form) }}
            </div>

            {% if error_message is defined and error_message == true %}
                <div class="alert alert-danger text-center" role="alert">
                    Connexion échouée. <br>
                    Si l'erreur persiste contactez un administrateur.
                </div>
            {% endif %}

            <div class="forgot-password">
                <a class="mt-5 mb-3 text-muted" href="{{ path('forgot_password') }}"> Mot de passe oublié ? </a>
            </div>

            <hr class="mb-4">

            <!-- Footer -->
            <div class="text-center">
                <button class="btn btn-lg btn-primary btn-block" type="submit"> Se connecter </button>
                <p class="mt-5 mb-3 text-muted">© 2020-2021</p>
            </div>
        </div>
    </section>
{% endblock %}
