{% extends 'base_export.html.twig' %}

{% block title %}Bon de commande / Demande de prix{% endblock %}

{% block body %}

    <style>
        tr {
            width: 100%;
        }
        td {
            height: 5px;
            text-align: left;
        }
        table {
            border-collapse: collapse;
            width: 100%;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        .table-bordered { border: 1px solid black; }
        .table-bordered tr { border: 1px solid black; }
        .table-bordered tr th { border: 1px solid black; }
        .table-bordered tr td { border: 1px solid black; }
    </style>

    {% if document is defined and site is defined %}
        <h2 style="text-align: center; color: red;">Il est strictement interdit de fumer dans les locaux occupés</h2>

        <p style="text-align: center">
            SAS <span style="color: orange;">PLAF</span>I<span style="color: red;">TECH</span> <br/>
            <span style="font-weight: bold;">Responsable chantier :</span> <br/>
            ZA Autoroutière <br/>
            Bd de la Communication <br/>
            <span style="font-weight: bold;">{{ document.getEmployee.getEmployeeFirstname }} {{ document.getEmployee.getEmployeeLastname }}</span>
        </p>

        <p style="text-align: center; font-weight: bold"></p>

        <table>
            <tr>
                <td style="width: 50%"></td>
                <td style="width: 20%">
                    <p>
                        <span style="text-decoration: underline; font-weight: bold;">N° FICHE</span> :
                        {{ document.getDocumentId }}
                    </p>
                </td>
                <td>
                    <p>
                        <label style="font-weight: bold; color: red;" for="acceptation_client">Acceptation client : </label>
                        <input type="checkbox" id="acceptation_client" {% if attributes.boolean.acceptation_client is defined and attributes.boolean.acceptation_client == true %} {{ "checked" }} {% endif %}>
                    </p>
                </td>
            </tr>
        </table>

        <h1 style="text-decoration: underline; color: blue; text-align: center; margin-top: 0; padding-top: 0">{{ document.getDoctype.getDoctypeTitle }}</h1>


        <h3 style="color: red; text-transform: uppercase; margin-bottom: 5px; padding-bottom: 5px">DESCRIPTION CHANTIER</h3>
        <table>
            <tr>
                <td style="width: 12%">
                    <label for="neuf"> <span style="text-decoration: underline;" >Neuf </span> : </label>
                    <input class="form-check-input ml-1 mr-0" type="checkbox" id="neuf" {% if site.getSiteNeuf is defined and site.getSiteNeuf == true %} {{ "checked" }} {% endif %}>
                </td>
                <td style="width: 88%">
                    <label style="text-decoration: underline;" for="renovation"><span style="text-decoration: underline;" >Rénovation</span> : </label>
                    <input class="form-check-input ml-1 mr-0" type="checkbox" id="renovation" {% if site.getSiteRenovation is defined and site.getSiteRenovation == true %} {{ "checked" }} {% endif %}>
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <td style="width: 30%; text-decoration: underline"> Coordonnées du client : </td>
                <td style="width: 30%">Nom : {{ site.getCustomer.getCustomerCompany }}</td>
                <td style="width: 40%">Personne à demander : {{ site.getCustomer.getCustomerContactName }}</td>
            </tr>
        </table>

        <table>
            <tr>
                <td style="width: 30%;"><p>Adresse : {{ site.getCustomer.getCustomerAddress }}</p></td>
                <td style="width: 30%;"><p>Ville : {{ site.getCustomer.getCustomerCity }}</p></td>
                <td style="width: 40%;"><p>Direction à suivre : {{ site.getCustomer.getCustomerContactName }}</p></td>
            </tr>
        </table>


        <h3 style="color: red; text-transform: uppercase; margin-bottom: 0; padding-bottom: 0">CARACTERISTIQUES CHANTIER</h3>
        <table>
            <tr>
                <td style="width: 33%">
                    <p>Date intervention : {% if attributes.date.date_intervention is defined %} {{ attributes.date.date_intervention|date('d/m/Y') }} {% endif %}</p>
                </td>
                <td style="width: 30%">
                    <p>Equipe : {% if attributes.varchar.equipe is defined %} {{ attributes.varchar.equipe }} {% endif %}</p>
                </td>
                <td style="width: 7%">
                    <p><span style="text-decoration: underline">Plans</span> :</p>
                </td>
                <td style="width: 7%">
                    <label for="plan_yes">Oui </label>
                    <input class="form-check-input ml-1 mr-0" type="checkbox" id="plan_yes" {% if attributes.boolean.plan is defined and attributes.boolean.plan == true %} {{ "checked" }} {% endif %}>
                </td>
                <td style="width: 7%">
                    <label for="plan_non">Non </label>
                    <input class="form-check-input ml-1 mr-0" type="checkbox" id="plan_non" {% if attributes.boolean.plan is defined and attributes.boolean.plan == false %} {{ "checked" }} {% endif %}>
                </td>
            </tr>
        </table>

        <table class="table-bordered">
            <thead>
            <tr style="border: 1px solid black;">
                <th scope="col">*</th>
                <th scope="col" class="font-weight-bold">Cloisons</th>
                <th scope="col">Hauteur</th>
                <th scope="col">Isolant</th>
                <th scope="col">*</th>
                <th scope="col" class="font-weight-bold">Doublages</th>
                <th scope="col">Hauteur</th>
                <th scope="col">Isolant</th>
                <th scope="col">*</th>
                <th scope="col" class="font-weight-bold">Plafond</th>
                <th scope="col">Hauteur</th>
                <th scope="col">Isolant</th>
            </tr>
            </thead>
            <tbody>
            <tr style="border: 1px solid black;">
                <th scope="row">1</th>
                <td>Tart cupcake sweet roll chocolate tart pastry oat cake
                    candy. </td>
                <td>Carrot cake lemon drops liquorice apple pie
                    liquorice cupcake.</td>
                <td>@mdo</td>
                <th scope="row">2</th>
                <td>Tart cupcake sweet roll chocolate tart pastry oat cake
                    candy. </td>
                <td>Carrot cake lemon drops liquorice apple pie
                    liquorice cupcake.</td>
                <td>@fat</td>
                <th scope="row">3</th>
                <td>Tart cupcake sweet roll chocolate tart pastry oat cake
                    candy. </td>
                <td>Carrot cake lemon drops liquorice apple pie
                    liquorice cupcake.</td>
                <td>@fat</td>
            </tr>
            </tbody>
        </table>


        <h3 style="color: red; text-transform: uppercase; margin-bottom: 0; padding-bottom: 0">INFORMATIONS  COMPLEMENTAIRES</h3>

        <table>
            <tr>
                <td style="width: 50%"><span style="text-decoration: underline">Hauteur de travail</span> : {% if attributes.int.hauteur_travail is defined %} {{ attributes.int.hauteur_travail }} mètre(s) {% endif %}</td>
                <td style="width: 36%"><span style="text-decoration: underline">Besoin échafaudage</span> :</td>
                <td style="width: 7%">
                    <label for="besoin_echafaudage_yes">Oui </label>
                    <input type="checkbox" id="besoin_echafaudage_yes" {% if attributes.boolean.besoin_echafaudage is defined and attributes.boolean.besoin_echafaudage == true %} {{ "checked" }} {% endif %}>
                </td>
                <td style="width: 7%">
                    <label for="besoin_echafaudage_no">Non </label>
                    <input type="checkbox" id="besoin_echafaudage_no" {% if attributes.boolean.besoin_echafaudage is defined and attributes.boolean.besoin_echafaudage == false %} {{ "checked" }} {% endif %}>
                </td>
            </tr>
        </table>


        <table>
            <tr>
                <td style="width: 30%"><span style="text-decoration: underline">Besoin intérimaire</span> :</td>
                <td style="width: 7%">
                    <label class="form-check-label" for="plan_yes">Oui </label>
                    <input class="form-check-input ml-1 mr-0" type="checkbox" id="plan_yes" {% if attributes.boolean.besoin_interimaire is defined and attributes.boolean.besoin_interimaire == true %} {{ "checked" }} {% endif %}>
                </td>
                <td style="width: 13%">
                    <label class="form-check-label" for="plan_yes">Non </label>
                    <input class="form-check-input ml-1 mr-0" type="checkbox" id="plan_yes" {% if attributes.boolean.besoin_interimaire is defined and attributes.boolean.besoin_interimaire == false %} {{ "checked" }} {% endif %}>
                </td>

                <td style="width: 50%"><span style="text-decoration: underline">Hauteur de échafaudage</span> : {% if attributes.int.hauteur_echafaudage is defined %} {{ attributes.int.hauteur_echafaudage }} mètre(s) {% endif %}</td>
            </tr>
        </table>

        <table>
            <tr>
                <td style="width: 30%"><span style="text-decoration: underline">Livraison matériaux sur site</span> :</td>
                <td style="width: 7%">
                    <label class="form-check-label" for="livraison_materiaux_site_yes">Oui </label>
                    <input class="form-check-input ml-1 mr-0" type="checkbox" id="livraison_materiaux_site_yes" {% if attributes.boolean.livraison_materiaux_site is defined and attributes.boolean.livraison_materiaux_site == true %} {{ "checked" }} {% endif %}>
                </td>
                <td style="width: 13%">
                    <label class="form-check-label" for="livraison_materiaux_site_no">Non </label>
                    <input class="form-check-input ml-1 mr-0" type="checkbox" id="livraison_materiaux_site_no" {% if attributes.boolean.besoin_interimaire is defined and attributes.boolean.besoin_interimaire == false %} {{ "checked" }} {% endif %}>
                </td>

                <td style="width: 36%"><span style="text-decoration: underline">Aire de stockage pour matériaux</span> :</td>
                <td style="width: 7%">
                    <label class="form-check-label" for="plan_yes">Oui </label>
                    <input class="form-check-input ml-1 mr-0" type="checkbox" id="plan_yes" {% if attributes.boolean.aire_stockage_materiaux is defined and attributes.boolean.aire_stockage_materiaux == true %} {{ "checked" }} {% endif %}>
                </td>
                <td style="width: 7%">
                    <label class="form-check-label" for="plan_yes">Non </label>
                    <input class="form-check-input ml-1 mr-0" type="checkbox" id="plan_yes" {% if attributes.boolean.aire_stockage_materiaux is defined and attributes.boolean.aire_stockage_materiaux == false %} {{ "checked" }} {% endif %}>
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <td style="width: 50%"></td>
                <td style="width: 20%"><span style="text-decoration: underline">Chantier fini le</span> :</td>
                <td style="width: 14%">
                    {% if attributes.date.date_chantier_fini is defined %} {{ attributes.date.date_chantier_fini|date('d/m/Y') }} {% endif %}
                </td>
                <td style="width: 7%">
                    <label class="form-check-label" for="plan_yes">Oui </label>
                    <input class="form-check-input ml-1 mr-0" type="checkbox" id="plan_yes" {% if attributes.boolean.chantier_fini is defined and attributes.boolean.chantier_fini == true %} {{ "checked" }} {% endif %}>
                </td>
                <td style="width: 7%">
                    <label class="form-check-label" for="plan_yes">Non </label>
                    <input class="form-check-input ml-1 mr-0" type="checkbox" id="plan_yes" {% if attributes.boolean.chantier_fini is defined and attributes.boolean.chantier_fini == false %} {{ "checked" }} {% endif %}>
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <td style="width: 30%"><span style="text-decoration: underline">Copie bon de commande </span> :</td>
                <td style="width: 7%">
                    <label class="form-check-label" for="copie_bon_commande_yes">Oui </label>
                    <input class="form-check-input ml-1 mr-0" type="checkbox" id="copie_bon_commande_yes" {% if attributes.boolean.copie_bon_commande is defined and attributes.boolean.copie_bon_commande == true %} {{ "checked" }} {% endif %}>
                </td>
                <td style="width: 13%">
                    <label class="form-check-label" for="copie_bon_commande_no">Non </label>
                    <input class="form-check-input ml-1 mr-0" type="checkbox" id="copie_bon_commande_no" {% if attributes.boolean.copie_bon_commande is defined and attributes.boolean.copie_bon_commande == false %} {{ "checked" }} {% endif %}>
                </td>
                <td style="width: 50%"></td>
            </tr>
        </table>

        <table style="padding-bottom: 20px;">
            <tr>
                <td><span style="text-decoration: underline">Observations des compagnons</span> :</td>
            </tr>
            <tr>
                <td>{% if attributes.varchar.observations_compagnons is defined %} {{ attributes.varchar.observations_compagnons }} {% endif %}</td>
            </tr>
        </table>


        <table style="border: 1px solid black;">
            <tr>
                <td style="width: 50%; border-right: 1px solid black; text-decoration: underline; color: red; text-transform: uppercase; font-weight: bold;">Observations</td>
                <td style="width: 50%; text-decoration: underline; color: red; font-weight: bold;">Matériaux à prendre à l’atelier</td>
            </tr>
            <tr>
                <td style="width: 50%; border-right: 1px solid black;">
                    {% if attributes.varchar.observations is defined %} {{ attributes.varchar.observations }} {% endif %}
                </td>
                <td style="width: 50%">
                    {% if attributes.varchar.materiaux_a_prendre_a_atelier is defined %} {{ attributes.varchar.materiaux_a_prendre_a_atelier }} {% endif %}
                </td>
            </tr>
        </table>
    {% endif %}

{% endblock %}